#main_body{
	width:1200px;
	height: 715px;
	margin: 0 auto;
	background:url("../images/login_background.jpg");	
}
.right_box{
	background:url("../images/login.jpg"); 
	width: 315px; 
	height: 350px;
	float:right;
	margin-right: 30px;
	margin-top: 235px;
}

#login_form{
	margin: 95px auto 0px;
	text-align: center;
}
.forget_pwd{
	cursor:pointer;
	margin-left:25px;
	margin-bottom:5px;
}
.forget_pwd:hover{
	color:red;
}
.login_user,.login_pwd{
	width: 265px;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	font-family: '寰杞榛';
	margin: 0 auto;
	margin-bottom: 10px;
}
.login_user{
	background: url("../../images/username.jpg");
}
.login_pwd{
	background: url("../../images/password.jpg");
	
}

.input_class{
	border: none;
	border: 0px;
	height: 25px;
	width: 180px;
	margin-left: 15px;
	color:gray !important;
	font-size:16px;
}
/***********button******************/
/*
#button_form{
	height: 125px;
	width: 265px;
	margin: 0 auto;
}

.login_btn,.login_href{
	width: 265px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	background-color: #ffc300;
	font-size: 20px;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.login_btn,.login_href a{
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
}
*/

#button_form{
	height: 125px;
	width: 265px;
	margin: 0 auto;
}

.login_btn ,.login_href{
	background: #ffc300 none repeat padding-box;
	background: #ffc300\9;
	border-color: #ffcf33 #d7a400 ;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 10px 1px #d7a400 inset, 0 6px 0 #d7a400, 0 8px 4px 1px rgba(103, 79, 0, 0.55) ;
    box-shadow: 0 1px 10px 1px #d7a400 inset, 0 6px 0 #d7a400, 0 8px 4px 1px rgba(103, 79, 0, 0.55)\9;
    -webkit-box-shadow: 0 1px 10px 1px #d7a400 inset, 0 6px 0 #d7a400, 0 8px 4px 1px rgba(103, 79, 0, 0.55) ;
    -moz-box-shadow: 0 1px 10px 1px #d7a400 inset, 0 6px 0 #d7a400, 0 8px 4px 1px rgba(103, 79, 0, 0.55) ;
    color: #fff;
    font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
    margin-bottom: 20px;
    padding: 10px 0 12px;
    text-align: center;
    text-shadow: 0 -1px 1px #e1ac00;
    width: 260px;
    behavior:url(PIE.htc); /* 可以让IE 6,7,8模拟部分的CSS3属性 */
    float:left;
}
#register_action{
	margin-left:20px;
}
.login_btn:hover, .login_href:hover{
	box-shadow: 0 0 20px 1px #ffcf33 inset, 0 6px 0 #d7a400 , 0 8px 4px 1px rgba(103, 79, 0, 0.55) ;
	cursor: pointer;    	
}
.login_btn:active, .login_href:active{
	box-shadow: 0 1px 10px 1px #e1ac00 inset, 0 1px 0 #d7a400, 0 2px 0 rgba(103, 79, 0, 0.75);
    
}

.login_href a{
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
}

.login_key{
	box-shadow: 0 1px 10px 1px #e1ac00 inset, 0 1px 0 #d7a400, 0 2px 0 rgba(103, 79, 0, 0.75);
    
}
#dowload a{
	font-size:16px;
	text-decoration:none;
	cursor:pointer;
}
#dowload a:hover{
	color:#FFF;
}

