<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/404.html</location>
  </error-page>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AccountValidatorServlet</servlet-name>
    <servlet-class>nercel.javaweb.register.AccountValidatorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StatisticsTypeServlet</servlet-name>
    <servlet-class>nercel.javaweb.statistics.StatisticsTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OnlineDownPdf</servlet-name>
    <servlet-class>nercel.javaweb.print.OnlineDownPdf</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OnlineReadPdf</servlet-name>
    <servlet-class>nercel.javaweb.print.OnlineReadPdf</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>nercel.javaweb.admin.Admin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sladmin</servlet-name>
    <servlet-class>nercel.javaweb.sladmin.Sladmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>nercel.javaweb.welcome.Welcome</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>nercel.javaweb.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperAnswerServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.PaperAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperResultsServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.PaperResultsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RankingServlet</servlet-name>
    <servlet-class>nercel.javaweb.ranking.RankingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolRankingServlet</servlet-name>
    <servlet-class>nercel.javaweb.schoolranking.SchoolRankingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChoicePercentServlet</servlet-name>
    <servlet-class>nercel.javaweb.allassessment.ChoicePercentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OverallCompareServlet</servlet-name>
    <servlet-class>nercel.javaweb.allassessment.OverallCompareServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paperScoreServlet</servlet-name>
    <servlet-class>nercel.javaweb.allassessment.paperScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tquanguofirstindexscore</servlet-name>
    <servlet-class>nercel.javaweb.allassessment.tquanguofirstindexscore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TerminalPercentAndScoreServlet</servlet-name>
    <servlet-class>nercel.javaweb.allassessment.TerminalPercentAndScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThirdIndexScoreServlet</servlet-name>
    <servlet-class>nercel.javaweb.allassessment.ThirdIndexScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchooldetailServlet</servlet-name>
    <servlet-class>nercel.javaweb.schooldetail.SchooldetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatusanalysisServlet</servlet-name>
    <servlet-class>nercel.javaweb.statusanalysis.StatusanalysisServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>schoolInforServlet</servlet-name>
    <servlet-class>nercel.javaweb.school.schoolInforServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolNumberServlet</servlet-name>
    <servlet-class>nercel.javaweb.school.SchoolNumberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportExcelServlet</servlet-name>
    <servlet-class>nercel.javaweb.schooldetail.ExportExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxStatisticsServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxstatistics.QxStatisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxChoicePercentServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxallassessment.QxChoicePercentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxOverallCompareServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxallassessment.QxOverallCompareServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxTerminalPercentAndScoreServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxallassessment.QxTerminalPercentAndScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxThirdIndexScoreServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxallassessment.QxThirdIndexScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Qx</servlet-name>
    <servlet-class>nercel.javaweb.qxschool.Qx</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxSchoolNumberServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxschool.QxSchoolNumberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxSchooldetailServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxschool.QxSchooldetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxExportExcelServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxschool.QxExportExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxSchoolInforServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxschool.QxSchoolInforServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportCityExcelServlet</servlet-name>
    <servlet-class>nercel.javaweb.excelresult.ExportCityExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DemoPdfServlet</servlet-name>
    <servlet-class>nercel.javaweb.print.DemoPdfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolInforServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.SchoolInforServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BlankAnswerServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.BlankAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SingleChoiceServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.SingleChoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultiChoiceServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.MultiChoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultiChoiceTextServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.MultiChoiceTextServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportAreanExcelServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxexcelresult.ExportAreanExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxPrintPdfServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxprint.QxPrintPdfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxRankingServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxranking.QxRankingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxSchoolRankingServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxschoolranking.QxSchoolRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnswerTempServlet</servlet-name>
    <url-pattern>/servlet/AddAnswerTempServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAnswerTempServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.AddAnswerTempServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAnswerServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.AddAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChoiceServlet</servlet-name>
    <servlet-class>nercel.javaweb.choice.ChoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BlankAvgServlet</servlet-name>
    <servlet-class>nercel.javaweb.currentdata.BlankAvgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChoicePectServlet</servlet-name>
    <servlet-class>nercel.javaweb.currentdata.ChoicePectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QxBlankAvgServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxcurrentdata.QxBlankAvgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QxChoicePectServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxcurrentdata.QxChoicePectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QxEduSurveyServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxcurrentdata.QxEduSurveyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SchoolUserServlet</servlet-name>
    <servlet-class>nercel.javaweb.schoolinfo.SchoolUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RankingAndAverageServlet</servlet-name>
    <servlet-class>nercel.javaweb.schoolinfo.RankingAndAverageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SchoolUserRegister</servlet-name>
    <servlet-class>nercel.javaweb.schoolregister.SchoolUserRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>nercel.javaweb.score.ScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxshcoolManagerServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxschoolmanager.QxshcoolManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoUpdateSubServlet</servlet-name>
    <servlet-class>nercel.javaweb.json.NoUpdateSubServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitStateAndDays</servlet-name>
    <servlet-class>nercel.javaweb.schoolinfo.SubmitStateAndDays</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitStateAndDaysServlet</servlet-name>
    <servlet-class>nercel.javaweb.schoolinfo.SubmitStateAndDaysServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>nercel.javaweb.forgotpassword.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TpStatisticsServlet</servlet-name>
    <servlet-class>nercel.javaweb.tpstatistics.TpStatisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxTpStatisticsServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxtpstatistics.QxTpStatisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxTpChoicePectServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxtpcurrentdata.QxTpChoicePectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QxTpBlankAvgServlet</servlet-name>
    <servlet-class>nercel.javaweb.qxtpcurrentdata.QxTpBlankAvgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TpBlankAvgServlet</servlet-name>
    <servlet-class>nercel.javaweb.tpcurrentdata.TpBlankAvgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TpChoicePectServlet</servlet-name>
    <servlet-class>nercel.javaweb.tpcurrentdata.TpChoicePectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MonthContrastServlet</servlet-name>
    <servlet-class>nercel.javaweb.monthcontrast.MonthContrastServlet</servlet-class>
  </servlet>














  <servlet-mapping>
    <servlet-name>AccountValidatorServlet</servlet-name>
    <url-pattern>/servlet/AccountValidatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticsTypeServlet</servlet-name>
    <url-pattern>/servlet/StatisticsTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnlineDownPdf</servlet-name>
    <url-pattern>/servlet/OnlineDownPdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnlineReadPdf</servlet-name>
    <url-pattern>/servlet/OnlineReadPdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/servlet/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sladmin</servlet-name>
    <url-pattern>/servlet/Sladmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/servlet/Welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperAnswerServlet</servlet-name>
    <url-pattern>/servlet/PaperAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperResultsServlet</servlet-name>
    <url-pattern>/servlet/PaperResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RankingServlet</servlet-name>
    <url-pattern>/servlet/RankingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolRankingServlet</servlet-name>
    <url-pattern>/servlet/SchoolRankingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChoicePercentServlet</servlet-name>
    <url-pattern>/servlet/ChoicePercentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OverallCompareServlet</servlet-name>
    <url-pattern>/servlet/OverallCompareServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TerminalPercentAndScoreServlet</servlet-name>
    <url-pattern>/servlet/TerminalPercentAndScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThirdIndexScoreServlet</servlet-name>
    <url-pattern>/servlet/ThirdIndexScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchooldetailServlet</servlet-name>
    <url-pattern>/servlet/SchooldetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatusanalysisServlet</servlet-name>
    <url-pattern>/servlet/StatusanalysisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>schoolInforServlet</servlet-name>
    <url-pattern>/servlet/schoolInforServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolNumberServlet</servlet-name>
    <url-pattern>/servlet/SchoolNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportExcelServlet</servlet-name>
    <url-pattern>/servlet/ExportExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxStatisticsServlet</servlet-name>
    <url-pattern>/servlet/QxStatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxChoicePercentServlet</servlet-name>
    <url-pattern>/servlet/QxChoicePercentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxOverallCompareServlet</servlet-name>
    <url-pattern>/servlet/QxOverallCompareServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxTerminalPercentAndScoreServlet</servlet-name>
    <url-pattern>/servlet/QxTerminalPercentAndScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxThirdIndexScoreServlet</servlet-name>
    <url-pattern>/servlet/QxThirdIndexScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Qx</servlet-name>
    <url-pattern>/servlet/Qx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxSchoolNumberServlet</servlet-name>
    <url-pattern>/servlet/QxSchoolNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxSchooldetailServlet</servlet-name>
    <url-pattern>/servlet/QxSchooldetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxExportExcelServlet</servlet-name>
    <url-pattern>/servlet/QxExportExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxSchoolInforServlet</servlet-name>
    <url-pattern>/servlet/QxSchoolInforServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportCityExcelServlet</servlet-name>
    <url-pattern>/servlet/ExportCityExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DemoPdfServlet</servlet-name>
    <url-pattern>/servlet/DemoPdfServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolInforServlet</servlet-name>
    <url-pattern>/servlet/SchoolInforServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlankAnswerServlet</servlet-name>
    <url-pattern>/servlet/BlankAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SingleChoiceServlet</servlet-name>
    <url-pattern>/servlet/SingleChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultiChoiceServlet</servlet-name>
    <url-pattern>/servlet/MultiChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultiChoiceTextServlet</servlet-name>
    <url-pattern>/servlet/MultiChoiceTextServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportAreanExcelServlet</servlet-name>
    <url-pattern>/servlet/ExportAreanExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxPrintPdfServlet</servlet-name>
    <url-pattern>/servlet/QxPrintPdfServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxRankingServlet</servlet-name>
    <url-pattern>/servlet/QxRankingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxSchoolRankingServlet</servlet-name>
    <url-pattern>/servlet/QxSchoolRankingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAnswerServlet</servlet-name>
    <url-pattern>/servlet/AddAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChoiceServlet</servlet-name>
    <url-pattern>/servlet/ChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlankAvgServlet</servlet-name>
    <url-pattern>/servlet/BlankAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChoicePectServlet</servlet-name>
    <url-pattern>/servlet/ChoicePectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxBlankAvgServlet</servlet-name>
    <url-pattern>/servlet/QxBlankAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxChoicePectServlet</servlet-name>
    <url-pattern>/servlet/QxChoicePectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxEduSurveyServlet</servlet-name>
    <url-pattern>/servlet/QxEduSurveyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolUserServlet</servlet-name>
    <url-pattern>/servlet/SchoolUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RankingAndAverageServlet</servlet-name>
    <url-pattern>/servlet/RankingAndAverageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolUserRegister</servlet-name>
    <url-pattern>/servlet/SchoolUserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/servlet/ScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxshcoolManagerServlet</servlet-name>
    <url-pattern>/servlet/QxshcoolManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoUpdateSubServlet</servlet-name>
    <url-pattern>/servlet/NoUpdateSubServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitStateAndDays</servlet-name>
    <url-pattern>/servlet/SubmitStateAndDays</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitStateAndDaysServlet</servlet-name>
    <url-pattern>/servlet/SubmitStateAndDaysServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/servlet/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TpStatisticsServlet</servlet-name>
    <url-pattern>/servlet/TpStatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxTpStatisticsServlet</servlet-name>
    <url-pattern>/servlet/QxTpStatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxTpChoicePectServlet</servlet-name>
    <url-pattern>/servlet/QxTpChoicePectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QxTpBlankAvgServlet</servlet-name>
    <url-pattern>/servlet/QxTpBlankAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TpBlankAvgServlet</servlet-name>
    <url-pattern>/servlet/TpBlankAvgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TpChoicePectServlet</servlet-name>
    <url-pattern>/servlet/TpChoicePectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MonthContrastServlet</servlet-name>
    <url-pattern>/servlet/MonthContrastServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>right</filter-name>
    <filter-class>nercel.javaweb.filter.MainRightFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>right</filter-name>
    <url-pattern>/main/html/main.html</url-pattern>
    <url-pattern>/statistics/html/statistics.html</url-pattern>
    <url-pattern>/standard/html/standard.html</url-pattern>
    <url-pattern>/allassessment/html/allassessment.html</url-pattern>
    <url-pattern>/statusanalysis/html/citytown.html</url-pattern>
    <url-pattern>/ranking/html/ranking.html</url-pattern>
    <url-pattern>/print_modular/html/printPDF.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Paperright</filter-name>
    <filter-class>nercel.javaweb.filter.PaperRightFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Paperright</filter-name>
    <url-pattern>/xyseis/answer/answer.html</url-pattern>
    <url-pattern>/xyseis/welcome/welcome_edit.html</url-pattern>
    <url-pattern>/xyseis/welcome/welcome.html</url-pattern>
    <url-pattern>/xyseis/quiz/quiz.html</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>180</session-timeout>
  </session-config>
</web-app>